
<mat-card class=" my1 mx1">
  <mat-card-title>Mes Dossiers</mat-card-title>
  <mat-card-content>
    <demo-projectlistitem></demo-projectlistitem>
    <demo-projectlistitem></demo-projectlistitem>
  </mat-card-content>

</mat-card>
<mat-card class=" my1 mx1">
  <mat-card-title>Dossiers Invités</mat-card-title>
  <mat-card-content>
    <demo-projectlistitem></demo-projectlistitem>
    <demo-projectlistitem></demo-projectlistitem>
    <demo-projectlistitem></demo-projectlistitem>
    <demo-projectlistitem></demo-projectlistitem>
    <demo-projectlistitem></demo-projectlistitem>
  </mat-card-content>

</mat-card>
