<div class="sm-col-12 md-col-10 mx-auto py1">

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon mr1">folder_open</mat-icon>
         Informations Dossier
      </ng-template>
      <mat-card class=" my1 mx1">
        <mat-card-title>
          <span>Square de Noville 3, 1081 KOEKELBERG</span>
          <button mat-mini-fab style="float: right" color="white">
            <i class="material-icons">
              settings
            </i>
          </button>
        </mat-card-title>
        <mat-card-subtitle><b>Type du bien immobilier : </b> Maison</mat-card-subtitle>
        <mat-card-subtitle>
          <demo-buyer-seller></demo-buyer-seller>
        </mat-card-subtitle>
      </mat-card>

      <mat-card class=" my1 mx1">
        <mat-card-title>
          Collaborateurs
          <button mat-mini-fab style="float: right" color="white">
            <i class="material-icons">
              settings
            </i>
          </button>
        </mat-card-title>
        <mat-card-content>
          <demo-coworkers></demo-coworkers>
        </mat-card-content>
      </mat-card>

      <mat-card class=" my1 mx1">
        <mat-card-title>
          Documents attachés
        </mat-card-title>
        <mat-card-content>
          <demo-document-edit></demo-document-edit>
        </mat-card-content>
      </mat-card>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon mr1">library_books</mat-icon>
        Document
      </ng-template>
      <mat-card class=" my1 mx1">
        <mat-card-title>
          <span>Square de Noville 3, 1081 KOEKELBERG</span>

          <button mat-flat-button style="float: right; " color="primary">
            <i class="material-icons">
              save_alt
            </i>
            Download Word
          </button>
          <button mat-flat-button style="float: right; margin-right:1rem" color="warn">
            <i class="material-icons">
              save_alt
            </i>
            Download Pdf
          </button>
          <button mat-flat-button style="float: right; margin-right:1rem" color="white" [matMenuTriggerFor]="appMenu">
            <i class="material-icons">
              history
            </i>
            Dernière version
          </button>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item > <small>Dernière version</small> </button>
            <button mat-menu-item *ngFor="let change of changes"> <small>{{change?.date | date: 'medium'}} - {{change?.author}}</small> </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-content>
          <div [froalaEditor] class="mat-elevation-z0">
            <p> &nbsp;</p>
            <h1 style="text-align: center;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PROMESSE
              SYNALLAGMATIQUE DE VENTE </strong></h1>
            <h1 style="text-align: center;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(COMPROMIS DE
              VENTE)</strong></h1>
            <p class="ql-align-center">&nbsp;</p>
            <p class="ql-align-center">&nbsp;</p>
            <p class="ql-align-center">&nbsp;</p>
            <p class="ql-align-justify"><strong>Les soussignés</strong></p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">[Titre, Nom, Prénom] Né(e) le [date et lieu] de nationalité [nationalité]</p>
            <p class="ql-align-justify">Marié(e) / concubin(e) / Célibataire / Pacsé(e) (1) Contrat de mariage :</p>
            <p class="ql-align-justify">Dénommé(e) ci après&nbsp;«Le vendeur»</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify"><strong>ET</strong></p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">[Titre, Nom, Prénom] Né(e) le [date et lieu] de nationalité [nationalité]</p>
            <p class="ql-align-justify">Marié(e) / concubin(e) / Célibataire / Pacsé(e) (1) Contrat de mariage :</p>
            <p class="ql-align-justify">Dénommé(e) ci après&nbsp;«L’ acquéreur »</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><strong>Ont convenu et arrête ce qui suit :</strong></p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">Les parties déclarent ne pas être concerné par une procédure de redressement
              ou liquidation judiciaire ou procédure similaire, ni en état de tutelle, curatelle, mise sous sauvegarde
              de justice, ni d’interdiction de faire des actes de disposition.</p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p>
            <h2 class="ql-align-justify">I - L'immeuble</h2>
            <p class="ql-align-justify"><br></p>
            <p class="ql-align-justify">Le terme «&nbsp;l’immeuble&nbsp;» désigne l’ensemble immobilier ci après
              décrit ainsi que les immeubles par destination qui en dépendent&nbsp;et qui constituent la propriété
              immobilière du vendeur&nbsp;.</p>
            <p class="ql-align-justify">&nbsp;Sis [adresse, cadastre]</p>
            <p class="ql-align-justify">&nbsp;D'unen superficie de :</p>
            <p class="ql-align-justify">Destination de l’immeuble et situation locative :</p>
            <p class="ql-align-justify">&nbsp;L’acquéreur déclare bien connaître l’immeuble sus visé pour l’avoir
              visité.</p>
            <p>&nbsp;Le vendeur déclare que le bien est libre de toute hypothèque au jour des présentes et s’interdit,
              jusqu’à la réitération par acte authentique de l’hypothéquer, l’aliéner, modifier la situation locative
              ou d’effectuer tout acte ayant pour effet d’en déprécier la valeur ou l’usage. </p>
            <p class="ql-align-justify">&nbsp;Le vendeur déclare qu’il n’a connaissance d’aucun acte tendant à
              l’expropriation de l’immeuble, objet des présentes, et qu’il n’existe sur ce bien aucune injonction de
              travaux, arrêté de péril, insalubrité ou interdiction d’habiter.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">&nbsp;</p>
            <h2 class="ql-align-justify">II - Origine de propriété</h2>
            <p><br></p>
            <p class="ql-align-justify">Le vendeur, propriétaire du bien sus visé, l’a acquis de : </p>
            <p class="ql-align-justify">Par acte notarié du [date] adressé par Maître [nom] en son étude sis
              [adresse]</p>
            <p class="ql-align-justify">&nbsp;Ladite mutation a été publiée au bureau des hypothèques de [ville] sous
              la référence :</p>
            <p class="ql-align-justify">&nbsp;Le vendeur justifiera&nbsp;d’une origine de propriété régulière et
              trentenaire.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">&nbsp;</p>
            <h2 class="ql-align-justify">III - Prix</h2>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">La vente aura lieu au prix de [montant en toutes lettres] euros net de toute
              commission.</p>
            <p class="ql-align-justify">&nbsp;Un acompte de [montant en toutes lettres] euros sera versé dès
              l’expiration du délai de rétractation de 7 jours dont bénéficie l’acquéreur à compter de la première
              présentation de la lettre lui notifiant le présent acte.</p>
            <p>&nbsp;Cette somme sera remise par le vendeur à [Titre, nom, prénom] ayant la qualité&nbsp;de tiers
              constitué séquestre. </p>
            <p class="ql-align-justify">&nbsp;[Titre, nom, prénom] .versera cette somme au vendeur&nbsp;ou pour son
              compte, lors de la réitération de la présente promesse, afin d’en permettre l’imputation sur le prix de
              vente ou en cas de refus par l’acquéreur de réitérer la vente par acte authentique dans le délai
              convenu.</p>
            <p class="ql-align-justify">&nbsp;[Titre, nom, prénom] restituera cette somme à l’acquéreur, sans retenue
              ni indemnité,&nbsp;en cas de caducité de la présente promesse&nbsp;due à une défaillance du vendeur ou
              de la non réalisation d’une des conditions suspensives ci après stipulées.</p>
            <p>&nbsp;Le solde du prix sera versé à la réitération et après réalisation de toutes les conditions
              suspensives ci après énoncées.</p>
            <p class="ql-align-justify">&nbsp;L’acquéreur déclare financer l’immeuble, objet des présentes, au moyen
              de ses deniers personnels ou assimilés, sans recourir à un prêt.</p>
            <p class="ql-align-justify">&nbsp;L&nbsp;‘acquéreur recopiera de sa main la mention suivante&nbsp;:</p>
            <p class="ql-align-justify">«&nbsp;je soussigné ………………………déclare ne recourir à aucun prêt, </p>
            <p class="ql-align-justify">Si , par la suite, je déclare recourir à un prêt, je ne pourrai me prévaloir
              des dispositions de l’article&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L 312-16 du code de la
              consommation&nbsp;»</p>
            <p><br></p>
            <p><br></p>
            <h2 class="ql-align-justify">IV - Charges et conditions de la vente</h2>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">Le vendeur résiliera tous les abonnements et polices d’assurances si il y a
              lieu.</p>
            <p class="ql-align-justify">&nbsp;L’acquéreur&nbsp;ne pourra se prévaloir des vices de toutes natures,
              apparents ou cachés ainsi que de toute erreur sur la superficie quand bien même elle excèderait
              1/20<sup>ième</sup>&nbsp;</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">Les servitudes actives et passives, apparentes et non apparentes, continues et
              discontinues, à la charge ou profit de l’immeuble susvisé seront supportées par l’acquéreur.</p>
            <p class="ql-align-justify">En aucun cas , le vendeur ne pourra souffrir de recours quant aux modalités
              d’exercice des dites servitudes.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">Concernant le fonds, objet des présentes, sont à répertorier les servitudes
              suivantes&nbsp;:</p>
            <p class="ql-align-justify">-&nbsp;&nbsp;&nbsp;Réglementation d’urbanisme applicable dans la commune dont
              dépend ledit immeuble et dont l’acquéreur reconnaît avoir pris connaissance préalablement à la signature
              des présentes.</p>
            <p class="ql-align-justify">-&nbsp;&nbsp;&nbsp;Servitudes légales.</p>
            <p class="ql-align-justify">-&nbsp;&nbsp;&nbsp;Servitudes dérivant de la nature et de la situation des
              lieux.</p>
            <p class="ql-align-justify">-&nbsp;&nbsp;&nbsp;Titres existants et joints aux présentes.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">Le vendeur s’engage, jusqu'à la réitération par acte authentique à ne faire
              aucun acte&nbsp;ayant pour conséquences d’aggraver les servitudes existantes au jour de ladite
              promesse.</p>
            <p class="ql-align-justify">&nbsp;&nbsp;</p>
            <h2 class="ql-align-justify">V - Conditions suspensives</h2>
            <p><br></p>
            <p>La présente promesse est consentie et acceptée sous réserve de la réalisation des évènements suivants&nbsp;:</p>
            <p>&nbsp;</p>
            <p class="ql-align-justify">1.&nbsp;&nbsp;&nbsp;&nbsp;Les renseignements hypothécaires de l’immeuble,
              objet des présentes,&nbsp;produit à l’initiative du «&nbsp;Vendeur&nbsp;», ne révèlent aucune
              inscription.</p>
            <p class="ql-align-justify">2.&nbsp;&nbsp;&nbsp;&nbsp;La note de renseignement d’urbanisme concernant
              l’immeuble, objet des présentes,&nbsp;produite à l’initiative du «&nbsp;Vendeur&nbsp;», ne révèle aucune
              injonction de travaux , ni état de péril ou insalubrité, ni servitude ou autre empêchement susceptible
              de réduire sensiblement la valeur vénale de l’immeuble ou son usage normal.</p>
            <p class="ql-align-justify">3.&nbsp;&nbsp;&nbsp;&nbsp;La purge de tout droit de préemption que le vendeur
              s’oblige à effectuer sans délai.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <p class="ql-align-justify">La réalisation des conditions susvisées n’entraînera pas le transfert de la
              propriété de l’immeuble, objet des présentes, lequel est subordonné à la réitération par acte
              authentique en l’étude de Maître [nom prénom].</p>
            <p class="ql-align-justify">&nbsp;</p>
            <h2 class="ql-align-justify">VI - Transfert de propriété - entrée en jouissance</h2>
            <p><br></p>
            <p>Sous réserve de réalisation des conditions suspensives ci après stipulées, le transfert de propriété et
              des risques&nbsp;est subordonné à la réitération&nbsp;des présentes par&nbsp;acte authentique laquelle
              devra intervenir dans le délai d’un mois à compter de la réalisation de la dernière condition
              suspensive.</p>
            <p class="ql-align-justify">&nbsp;A défaut de réitération par acte authentique, un procès verbal de
              carence sera dressé à la requête de la partie la plus diligente à laquelle il appartiendra alors de se
              pourvoir en justice aux fins de réaliser ou faire réaliser ladite mutation, ou aux fins de résolutions
              de la présente promesse aux torts de la partie défaillante.</p>
            <p class="ql-align-justify">&nbsp;L’entrée en jouissance&nbsp;s’opèrera à la date du transfert de
              propriété soit au jour de la réitération par acte authentique ou de la décision judiciaire en tenant
              lieu.</p>
            <p class="ql-align-justify">&nbsp;</p>
            <h2 class="ql-align-justify">VII - Frais, impôts et taxes</h2>
            <p><br></p>
            <p>L’acquéreur paiera tous les frais, droits et loyaux coûts des présentes, de l’acte de réitération et
              ceux qui en seront la suite ou la conséquence.</p>
            <p>&nbsp;Toutefois, les frais sus évoqués seront supporté par le vendeur en cas de non réalisation de la
              vente provenant de son fait.&nbsp;</p>
            <p>&nbsp;L’acquéreur&nbsp;acquittera à compter du jour fixé pour l’entrée en jouissance, tout impôts,
              contributions et charges de toutes natures assis ou à asseoir sur l’immeuble, objet des présentes</p>
            <p>&nbsp;</p>
            <h2>VIII - Clauses particulières</h2>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h2>IX - Élection de domicile</h2>
            <p><br></p>
            <p>Pour l’exécution des présentes et de leur suite, les parties font élection de domicile en leurs
              demeures respectives.</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>Fait à [ville], le [date] en trois exemplaires originaux </p>
            <p>&nbsp;</p>
            <p><em>(signatures précédées de la mention «&nbsp;lu et approuvé&nbsp;»)</em></p>
            <p class="ql-align-center"><strong><em>&nbsp;</em></strong></p>
            <p><strong>Le vendeur et son conjoint s’il y a lieu </strong>&nbsp;&nbsp;<strong>Le séquestre</strong>
              <strong>L’acquéreur</strong></p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <p>&nbsp;&nbsp;</p>
          </div>
        </mat-card-content>
      </mat-card>
      <button mat-fab color="primary" style="position: fixed; right: 30px; bottom: 30px;">
        <mat-icon>save</mat-icon>
      </button>

    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon mr1">restore</mat-icon>
        Historique des changements
      </ng-template>
      <mat-card class=" my1 mx1">
        <mat-card-content fxLayoutAlign="end center">
          <mat-slide-toggle class="px2" [(ngModel)]="expandChanges">Tout Ouvrir</mat-slide-toggle>
        </mat-card-content>
        <demo-document-change-list [expanded]="expandChanges"></demo-document-change-list>
      </mat-card>
    </mat-tab>

  </mat-tab-group>


</div>
