  <div class="sm-col-12 md-col-10 mx-auto pb3">
    <mat-card class=" my1 mx1">
      <mat-card-title>
        <span>Square de Noville 3, 1081 KOEKELBERG</span>
      </mat-card-title>
      <mat-card-subtitle><b>Type du bien immobilier : </b> Maison</mat-card-subtitle>
      <mat-card-subtitle>
        <demo-buyer-seller></demo-buyer-seller>
      </mat-card-subtitle>
    </mat-card>

    <mat-card class=" my1 mx1">
      <mat-card-title>
        Documents attachées
      </mat-card-title>
      <mat-card-content>
        <demo-document-edit></demo-document-edit>
      </mat-card-content>
    </mat-card>

    <mat-card class=" my1 mx1">
      <mat-card-title>
        Cooperateurs
      </mat-card-title>
      <mat-card-content>
        <demo-coworkers></demo-coworkers>
      </mat-card-content>
    </mat-card>



    <mat-card class=" my1 mx1">
      <mat-card-title>
        Historique des changes
      </mat-card-title>
      <mat-card-content fxLayoutAlign="end center">
        <mat-slide-toggle class="px2" [(ngModel)]="expandChanges">Ouvrir tous les descriptions</mat-slide-toggle>
      </mat-card-content>
      <demo-document-change-list [expanded]="expandChanges"></demo-document-change-list>
    </mat-card>

  </div>
