<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2%">
  <div fxFlex="50%">
    <mat-list>
      <mat-list-item *ngFor="let doc of documents">
        <mat-icon mat-list-icon>attachment</mat-icon>
        <h4 mat-line> {{doc?.title}}</h4>
        <p mat-line> {{doc?.fileName}} </p>
        <span class="mx1">
          <button mat-mini-fab color="primary">
            <mat-icon>
              cloud_download
            </mat-icon>
          </button>
        </span>
        <button mat-mini-fab color="warn">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex="50%">
    <mat-card >
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input id="fileInput" type="file" hidden>
      <div fxFill class="pb2">
        <button id="uploadButton" mat-mini-fab color="accent">
          <i class="material-icons">
            attach_file
          </i>
        </button>
        <input class="ml1" id="textInput" type="text" placeholder="No file chosen" disabled>
      </div>
      <mat-form-field fxFill>
        <input matInput placeholder="Titre de document">
      </mat-form-field>
      <mat-form-field fxFill>
        <textarea matInput placeholder="Description du document" rows="3"></textarea>
      </mat-form-field>
      <div fxLayoutAlign="end center" fxFill>
        <button mat-flat-button>
          <i class="material-icons mr1">
            cloud_upload
          </i>
          Ajouter
        </button>
      </div>
    </form>
    </mat-card>
  </div>

</div>

